<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="myicon.png">
    <title>tweet stats</title>
    <meta name="description" content="all the tweets">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/build/style.css">
    <style>
        .favorite-users {
            float:left;
        }

        #container {
            float:left;
        }

        h2 {
            font-weight:bold;
        }
        
        .text {
        	width:100%;
        	overflow:hidden;
        }
    </style>
</head>
<body>


<div id="target">


</div>

<div class="text"></div>

<div id="container" style="width:60%; height:600px;"></div>

<script text="type/template" id="tweet-reasons-template">

<div class="favorite-users">

<h1>Total: <%=reasons.total%></h1>

  <div class="fu-type-section">
		<h2>  replies </h2>
		<ul class="fu-list">
        <% _.each(reasons.replies.favorites.topTen, function(person) { %>

			<li class="fu-item">@<%= person.handle %>-<span class="fu-count"><%= person.count %></span></li>

            <% }); %>
		</ul>
	</div>
	<div class="fu-type-section">
		<h2>retweets</h2>
		<ul class="fu-list">
        <% _.each(reasons.retweets.favorites.topTen, function(person) { %>

    <li class="fu-item">@<%= person.handle %>-<span class="fu-count"><%= person.count %></span></li>

    <% }); %>
		</ul>
	</div>
	<div class="fu-type-section">
		<h2>statements</h2>
		<ul class="fu-list">
        <% _.each(reasons.statements.favorites.topTen, function(person) { %>

    <li class="fu-item">@<%= person.handle %>-<span class="fu-count"><%= person.count %></span></li>

    <% }); %>		</ul>
	</div>
</div>

</script>


<script type="text/javascript" charset="utf-8" src="js/lib/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="js/lib/underscore.js"></script>
<script type="text/javascript" charset="utf-8" src="js/lib/backbone.js"></script>
<script type="text/javascript" charset="utf-8" src="bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/lib/highcharts.js"></script>

<script type="text/javascript" charset="utf-8" src="js/main.js"></script>

<script>
    $(document).ready(function(){
		
    	console.log('execute onReady DOM script tag');
    
    });

</script>

</body>
</html>
